<!DOCTYPE html>
<html lang="zh">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Week2Example留言板</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
    <p>you are now at {{path}}</p>

    <!--
    {% for i in fuck %}
        <img src= {{i}}>
    {% endfor %}
    -->
    
    <h1>社科院學生會運作交流版</h1>
    <h2>請各位將所負責專案最新進度上傳至此<br>
        有違反板規的留言小編將予以刪除<br>
        <br>
    </h2>
    <p id="ta">by小編<br></p>
    <div id="container">
        <div id="content">
        
        
      
        
            {% for msg in msgs %}
                <div class = "msg">
                    <span class="name">{{msg.talker}}</span>
                    {{msg.message}}
                    
                <div>
            {% endfor %}
          
            

        </div>
        
        <div id="send-box">
            <form action='' method='post' >
                <input type="text" name="name" id="name" placeholder="發言人">
                <input type="text" name="msg" id="msg" placeholder="說點東東">
                <input type="submit" id="submit" value="送出">
            </form>
            <form action='' method='post' >
                <input type="submit" name = "clear" id="clear" value="清除所有留言">
            </form>
        </div>
    </div>
</body>

</html>