<!DOCTYPE html>
<html lang="zh">
{% load  staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Week2Example留言板</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
    {% url 'add' %}
    {{fuck}}
    <h1>社科院學生會運作交流版</h1>
    <h1>社科院學生會運作交流版</h1>
    <h2>請各位將所負責專案最新進度上傳至此<br>
        有違反板規的留言小編將予以刪除<br>
        <br>
    </h2>
    <p id="ta">by小編<br></p>
    <div id="container">
        <div id="content">
            <div class="msg">
                <span class="name">草地音樂祭</span>
                已送交公關部進行拉贊

            </div>
            <div class="msg">
                <span class="name">桌遊大會</span>
                昨日已圓滿完成
            </div>
            <div class="msg">
                <span class="name">院櫃租借事宜</span>
                文案撰寫中
            </div>
        </div>
        <div id="send-box">
            <form id="send-form">
                <input type="text" name="name" id="name" placeholder="專案名稱">
                <input type="text" name="msg" id="msg" placeholder="進度">
                <input type="submit" id="submit" value="送出">
            </form>
            <span id='ps'>Ps:格子是假的，無法輸入ＸＤ</span>
        </div>
    </div>
</body>

</html>