<!DOCTYPE html>
<html lang="zh">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Week2Example留言板</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" charset="utf8" />
</head>
<body>
    <p>you are now at {{path}}</p>

    <!--
    {% for i in fuck %}
        <img src= {{i}}>
    {% endfor %}
    -->
    
    <h1>社科院學生會運作交流版</h1>
    <h2>請各位將所負責專案最新進度上傳至此<br>
        有違反板規的留言小編將予以刪除<br>
        <br>
    </h2>
    <p id="ta">by小編<br></p>
    <div id="container">
        {% if request.user.is_authenticated %}
            <div id="content">
                {% for msg in msgs %}
                    <div class = "msg">
                        <span class="name">{{msg.talker}}</span>{{msg.message}}<br>
                    </div>
                {% endfor %}
            </div>
        
            <div id="send-box">
                <form action='' method='post' >
                    <span style="color:blue">{{user}}:  </span><input type="text" name="msg" id="msg" placeholder="說點東東">
                    <input type="submit" id="submit" value="送出">
                </form>
                <form action='' method='post' >
                    <input type="submit" name = "clear" id="clear" value="清除所有留言">
                </form>
            </div>
            <p><a href="/personal_Page/">個人頁面</a><p>
            <p><a href="/logout/">登出</a><p>
        {% else %}
            <p>你尚未登入喔!</p>
            <p><a href="/login/">登入</a><p>
        {% endif %}
    </div>
    <span style="color:red">{{ message }}</span>
</body>

</html>